.project-info {
  width: 320px;
  height: 215px;
  color: white;
  @media (max-width: 992px) {
    width: 290px;
    height: 200px;
  }
}

.logo-container {
  height: 50px;
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: #fff;
}

.logo {
  font-size: 34px;
  font-weight: 600;
  text-align: center;

  @media (max-width: 992px) {
    font-size: 48px;
  }
}

span {
  color: rgb(209, 209, 209);
}

.content {
  padding: 16px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  margin-right: 8px;
  font-size: 1rem;
}

.arrow-icon {
  color: white;
}

mat-card-header,
mat-card-content {
  display: block;
  max-width: calc(100%);
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  flex-shrink: 0;
  white-space: nowrap;
}

mat-card-title {
  max-width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
