<div class="demo-app">
  <div class="demo-app-sidebar">
    <div class="demo-app-sidebar-section">
      <h2>All Events ({{ currentEvents.length }})</h2>
      <ul>
        <li *ngFor="let event of currentEvents()">
          <b>{{ event.startStr }}</b>
          <i>{{ event.title }}</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="demo-app-main">
    <div *forRoles="[role.ADMIN, role.MANAGER]" class="demo-app-main">
      <mat-tab-group (selectedTabChange)="onTabChanged($event)">
        <mat-tab *ngFor="let user of userIdNameDTOs" label="{{ user.name }}">
          <full-calendar></full-calendar>
        </mat-tab>
      </mat-tab-group>
    </div>
    <full-calendar *ngIf="calendarVisible()" [options]="calendarOptions()">
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>
</div>
