<div>
  <mat-toolbar>
    <form [formGroup]="billForm">
      <mat-form-field>
        <mat-label>Date range:</mat-label>
        <mat-date-range-input
          id="dateRange"
          [min]="minStartDate"
          [max]="maxStartDate"
          [rangePicker]="picker"
        >
          <input
            matStartDate
            formControlName="start"
            placeholder="Start date"
          />
          <input
            matEndDate
            formControlName="end"
            placeholder="End date"
            (dateChange)="fetchBills()"
          />
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>arrow_drop_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" *forRoles="role.ADMIN">
        <mat-label>Bill type:</mat-label>
        <mat-select
          id="billType"
          formControlName="billType"
          (selectionChange)="fetchBills()"
        >
          <mat-option *ngFor="let billType of billTypes" [value]="billType">
            {{ billType }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" *forRoles="role.ADMIN">
        <mat-label>User:</mat-label>
        <mat-select
          id="user"
          formControlName="user"
          (selectionChange)="fetchBills()"
        >
          <mat-option *ngFor="let user of userIdNameDTOs" [value]="user">
            {{ user.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-toolbar>
  <div class="content">
    <div class="overflow-auto gap">
      <div *ngFor="let bill of bills">
        <div class="bill-details">
          <span class="bill-name">{{ bill.filename }}</span>
          <span class="date-range"
            >{{ bill.startDate | date }} - {{ bill.endDate | date }}</span
          >
          <span *forRoles="role.ADMIN">User: {{ bill.userId }}</span>
        </div>
        <div class="bill-actions">
          <button mat-button (click)="downloadBill(bill)">Download</button>
          <button mat-button (click)="regenerateBill(bill)">Regenerate</button>
        </div>
      </div>
      <div class="w-100" *ngIf="!bills.length">
        <app-no-data-message
          message="You don't have any bills"
        ></app-no-data-message>
      </div>
    </div>
  </div>
</div>
