.app-logo {
  height: 50px;
}

.app-header {
  background-color: #121212;
  height: 100%;
  width: 100%;
  padding: 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-title {
  font-size: 1.5em;
}

button,
a {
  font-size: 20px;
  margin-left: 15px;
  background-color: #121212;
}
