<div class="user-profile">
  <ng-container *ngIf="!isEditing">
    <button (click)="toggleEditing()" class="edit-btn" matTooltip="Edit">
      <mat-icon>create</mat-icon>
    </button>
  </ng-container>
  <ng-container *ngIf="isEditing">
    <button (click)="toggleEditing()" class="cancel-btn" matTooltip="Cancel">
      <mat-icon>clear</mat-icon>
    </button>
  </ng-container>
  
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="user-field">
      <label for>First Name:</label>
      <div *ngIf="!isEditing">{{ user.firstName }}</div>
      <input *ngIf="isEditing" formControlName="firstName" id="firstName" />
    </div>
    <div class="user-field">
      <label for>Last Name:</label>
      <div *ngIf="!isEditing">{{ user.lastName }}</div>
      <input *ngIf="isEditing" formControlName="lastName" id="lastName" />
    </div>
    <div class="user-field">
      <label for>Email:</label>
      <div *ngIf="!isEditing">{{ user.email }}</div>
      <input *ngIf="isEditing" formControlName="email" id="email" />
    </div>
    <div class="user-field">
      <label>Phone:</label>
      <div *ngIf="!isEditing">{{ user.phone }}</div>
      <input *ngIf="isEditing" formControlName="phone" id="phone" />
    </div>
    <div class="user-field">
      <label>Birth:</label>
      <div *ngIf="!isEditing">{{ user.birth }}</div>
      <input
                type="date"
                *ngIf="isEditing" formControlName="birth" id="birth"
                placeholder="Birth"
              />
    </div>
    <div class="user-field">
      <label>Student:</label>
      <div *ngIf="!isEditing">{{ user.student ? "Yes" : "No" }}</div>
      <select *ngIf="isEditing" formControlName="student" id="student">
        <option [value]="'true'">Yes</option>
        <option [value]="'false'">No</option>
     </select>       
    </div>
    <div class="user-field">
      <label>Roles:</label>
      <div>{{ user.userRoles.join(', ') }}</div>
    </div>
  </form>
  <ng-container *ngIf="isEditing">
    <button type="submit" (click)="onSubmit()" class="save-btn" matTooltip="Save">
      <mat-icon>done</mat-icon>
   </button>
  </ng-container>
</div>
