.user-profile {
  padding: 20px;
  height: 90vh;
  background-color: #2c2c2c;
  position: relative;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  margin-top: 50px;
}

.user-field {
  background-color: "#f7f7f7";
  border: 1px solid rgb(163, 163, 163);
  border-radius: 5px;
  flex: 1 1 calc(33% - 15px); /* 3 fields per row with a small margin */
  margin: 10px;
  padding: 10px;
  position: relative;
  height: 8%;
}

.user-field label {
  position: absolute;
  top: -20px;
  left: 15px;
  font-weight: bold;
}

select {
  color: rgb(163, 163, 163);;
  background-color: #2c2c2c;
  width: 100px;
}

.cancel-btn,
.edit-btn,
.save-btn {
  position: absolute;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.cancel-btn,
.edit-btn,
.save-btn mat-icon {
  color: white;
}

.cancel-btn,
.edit-btn {
  top: 20px;
  right: 20px;
}

.save-btn {
  right: 20px;
}

/* Responsive styles for smaller screens */
@media (max-width: 800px) {
  .user-field {
    flex: 1 1 calc(50% - 15px); /* 2 fields per row */
  }
}

@media (max-width: 500px) {
  .user-field {
    flex: 1 1 100%; /* 1 field per row */
  }
}
