<div class="container">
  <mat-dialog-actions>
    <h2 mat-dialog-title>Task Manager</h2>
    <button mat-icon-button mat-dialog-close matTooltip="Cancel">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-dialog-actions>
  <mat-dialog-content class="mat-typography">
    <form class="">
      <mat-form-field appearance="fill">
        <mat-label>Task description</mat-label>
        <textarea
          matInput
          [(ngModel)]="taskDescription"
          name="taskDescription"
        ></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select [(ngModel)]="selectedProject" name="project">
          <mat-option *ngFor="let project of projects" [value]="project"
            >{{ project.title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onSubmit()">Submit</button>
  </mat-dialog-actions>
</div>
