<div class="container">
  <mat-toolbar> Project </mat-toolbar>
  <div class="content">
    <div class="overflow-auto gap w-100 pb-1">
      <div
        *ngFor="let project of projects; index as i"
        class="project-card-container"
      >
        <app-project-card
          *ngIf="project"
          [project]="project"
          [backgroundStyle]="getBackgroundColor(i)"
          [buttonStyle]="getButtonColor(i)"
        >
        </app-project-card>
      </div>
      <div class="w-100" *ngIf="!projects.length">
        <h6 message="You don't have any active projects"></h6>
      </div>
    </div>
  </div>
</div>
