<div>
  <mat-toolbar>
    Project
    <span class="spacer">
      <button
        *forRoles="[role.ADMIN]"
        mat-icon-button
        (click)="openAddUserModal()"
        matTooltip="Add"
      >
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </mat-toolbar>
  <div class="content">
    <div class="overflow-auto gap">
      <div
        *ngFor="let project of projects; index as i"
        class="project-card-container"
      >
        <app-project-card
          *ngIf="project"
          [project]="project"
          [backgroundStyle]="getBackgroundColor(i)"
          [buttonStyle]="getButtonColor(i)"
        >
        </app-project-card>
      </div>
      <div class="w-100" *ngIf="!projects.length">
        <h6 message="You don't have any active projects"></h6>
      </div>
    </div>
  </div>
</div>
