.success-snackbar {
  background-color: #43a047 !important; /* green */
}

.error-snackbar {
  background-color: #d32f2f !important; /* red */
}

html,
body,
input,
.container,
.content {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #2c2c2c;
  color: rgb(163, 163, 163);
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
