/* You can add global styles to this file, and also import other style files */

html,
body,
input {
  background-color: #2c2c2c;
  height: 100%;
  color: rgb(163, 163, 163);
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.success-snackbar {
  background-color: #43a047 !important; /* green */
}

.error-snackbar {
  background-color: #d32f2f !important; /* red */
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
